	main{
		margin: 30px auto;
		width: 1350px;
		padding: 10px auto;

	}

	h1{
		font-style: italic;
		color: #008000
	}

	h2{
		color: #A9A9A9;

	}

	header{
		position: absolute;
		right: 10%;
		height: 50px;
		text-align: right;


	}

	#banner{
		position: absolute;
		top: 19%;
		left: 5%;
		width: 1280px;
		height: 510;
	}


	#txtimagem{
		position: absolute;
		top: 27%;
		max-width: 30%;
		background-color: black;
		left: 5%;
		color: white;
		font-size: 30px;
		font-family: Arial, Helvetica;
		filter: alpha(opacity=50);
		opacity: 0.7;
		padding: 15px;
	}


	#img1{
		position: absolute;
		top: 88%;
		width: 300px;
		height: 244px;
		left: 5%;
	}

	#img2{
		position: absolute;
		top: 88%;
		width: 300px;
		height: 244px;
		left: 28%;	
	}

	#img3{
		position: absolute;
		top: 88%;
		width: 300px;
		height: 244px;
		left: 51%
	}

	#img4{
		position: absolute;
		top: 88%;
		width: 300px;
		height: 244px;
		left: 74% 
	}

	#texto01{
		position: absolute;
		top: 900px;
		max-width: 20%;
		left: 5%;
	}

	#texto02{
		position: absolute;
		top: 900px;
		max-width: 20%;
		left: 28%;
	}

	#texto03{
		position: absolute;
		top: 900px;
		max-width: 20%;
		left: 52%;
	}

	#texto04{
		position: absolute;
		top: 900px;
		max-width: 20%;
		left: 74%;
	}

	#final{
		position: absolute;
		bottom: -400px;
		left: 5%;
		
	}

	