

main{

	margin: 25px auto;
	width: 920;

}

img{

	position: absolute;
	left: 35%;
	top: 15%;
}


#menu{
	position: absolute;
	top: 5%;
	padding: 10px;
	border-style: solid;
	border-color: #00008B;
	border-width: 8px;


}

#menu ul li a:hover{
	background-color: #99d260;
	color: #6D6D6D;
	border-bottom: 3px solid #EA0000;
}

footer{
	position: absolute;
	bottom: 0px;
	left: 37%;

}


.lista{
	font-size: 23px;
}

.sublista{
	list-style-type: circle;
}
/*

#e01, #e02{
	/*display: none;*/
}
*/