	
	/*
	Arquivo CSS da página ExemploDiv.html
	*/


	main{
		margin: 10px/* Top */ 10px /* Left */ auto;

		/* Ordem: top, left, botton, right*/;

		width: 100%;
		max-width: 98%;
		background-color: #FAFAD2;


	}	

	header{
		font-size: 25px;
		text-align: center;
		 
	}

	footer{
		text-align: center;
	}

	p{
	font-family: "Verdana, Arial, courier New";
	font-size: 20px; /* tamanho de fonte 14 pixels */
	text-align: justify;
	color: 	#006400
	}
	ul{

	font-style: italic;
	font-size: 18px;
	}

	#logo{
		margin: 10px 10px auto;
		width: 200px;
		height: 61px;

	}	

	#secao01{
		
		position: relative;
		background-color: #E6E6FA;
		padding-top: 10px;
		padding-left: 500px;
		padding-right: 50px;
		margin: 10px;
		max-width: 80%;
		 
		

	}

	#secao02{
		
		position: relative;
		background-color: #E6E6FA;
		padding-top: 10px;
		padding-left: 500px;
		padding-right: 50px;
		margin: 10px;

	}	


	#secao03{
		
		position: relative;
		background-color: #E6E6FA;
		padding-top: 10px;
		padding-left: 500px;
		padding-right: 50px;
		margin: 10px;
	}